
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="welcome_bakery_area cake_feature_main p_100">
	<div class="container">
        <div class="main_title">
            <h2>Địa chỉ</h2>
            <h5> Đến ngày địa chỉ của Shop để được xem nhiều sản phẩm đẹp hơn!</h5>
            <h5> Số nhà ABC, đường 1, phường 2, quận 3, Tp. Hồ Chí Minh</h5>
        </div>
        

	</div>
</section>